<!DOCTYPE html>
<html>
<head>
    <title>Django Girls Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ullam iusto enim aut, obcaecati quae molestias possimus rerum nihil reprehenderit officia vitae pariatur illum molestiae voluptatibus sint corporis ut, perspiciatis.</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam vel eaque, impedit consequuntur nesciunt libero natus ea in tempore labore voluptas sint odit facere, similique cupiditate ratione id molestias!</p>
    </div>
</body>
</html>